# Prerequisites
*.d

# Compiled Object files
Debug/
Release/
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio 
.vs/
*.tlog
*.lastbuildstate
*.iobj
*.ipdb
*.pdb
*.ilk
*.idb

# Generated
*.log
*.vcd
*.db